.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cfc0b7c7;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: padding 0.3s ease;
}

@media (min-width: 0px) and (max-width: 320px) {
  .header {
    width: 300px;
    padding: 0;
    justify-content: space-around;
    /* flex-direction: column; */
  }
}

@media (min-width: 321px) and (max-width: 720px) {
  .header {
    padding: 10px 20px;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .header {
    padding: 15px 25px;
  }
}

@media (min-width: 1025px) {
  .header {
    padding: 15px 35px;
  }
}
