.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: rgb(207 192 183);
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.3s ease-out;

  text-align: center;
  position: relative;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #2b1d12;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #2b1d12;
  transition: color 0.3s ease;
}

.closeBtn:hover {
  color: #8a3838;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 5px;
  color: #2b1d12;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.error {
  font-size: 12px;
  color: #ff4a4a;
  margin-top: 5px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.saveBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background-color: #316b35;
  color: #fff;
  transition: background-color 0.3s ease;
}

.saveBtn:hover {
  background-color: #16561a;
}

@media (max-width: 320px) {
  .modal {
    padding: 15px;
  }

  .saveBtn {
    font-size: 14px;
    padding: 8px 10px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .modal {
    max-width: 350px;
  }
  .input {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .modal {
    max-width: 500px;
  }

  .input {
    font-size: 18px;
  }

  .saveBtn {
    font-size: 18px;
    padding: 12px 20px;
  }
}
