.boxBtn {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 5px;
}

.btnDelete,
.btnEdit {
  padding: 10px;
  background-color: #8f6a47;
  color: rgb(228 223 220);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btnEdit {
}

.btnDelete:hover,
.btnEdit:hover {
  background-color: #5b2c0f;
}

.btnDelete:disabled {
  background-color: #8f6a47;
  color: rgb(228 223 220);
  cursor: not-allowed;
  opacity: 0.6;
}

.iconEdit {
  background-color: none;
  font-size: 12px;
}

@media (max-width: 320px) {
  .boxBtn {
    flex-direction: column;
    gap: 8px;
  }

  .btnDelete {
    padding: 10px;
    font-size: 16px;
  }
}

@media (min-width: 321px) and (max-width: 720px) {
  .boxBtn {
    justify-content: space-between;
  }

  .btnDelete {
    padding: 6px 10px;
    font-size: 15px;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .boxBtn {
    gap: 15px;
    justify-content: flex-start;
  }

  .btnDelete {
    padding: 8px 12px;
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .boxBtn {
    gap: 10px;
    justify-content: flex-start;
  }

  .btnDelete {
    padding: 10px 14px;
    font-size: 16px;
  }
}
