.contactForm {
  width: 90%;
  max-width: 500px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
  background-color: rgb(84 54 37 / 16%);
}

.divContact {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
  color: rgb(228 223 220);
  text-align: center;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1b1512;
  background-color: rgb(207 192 183);
  font-size: 14px;
}

.formError {
  display: block;
  margin: 0 auto;
  color: #ff2727;
}

.buttonAdd {
  width: 100%;
  padding: 10px;
  background-color: #4a331e;
  color: rgb(228 223 220);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.buttonAdd:hover {
  background-color: #3f1f08;
}
