.contactForm {
  width: 90%;
  max-width: 500px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid #424242;
  border-radius: 10px;
  background: rgb(191, 241, 152);
  background: linear-gradient(
    270deg,
    rgba(191, 241, 152, 1) 0%,
    rgba(168, 220, 142, 1) 25%,
    rgba(191, 241, 152, 1) 50%,
    rgba(168, 220, 142, 1) 75%,
    rgba(191, 241, 152, 1) 100%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.divContact {
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
}

.input {
  height: 25px;
}

.formError {
  display: block;
  max-width: 300px;
  color: rgb(143, 71, 71);
}

.buttonAdd {
  padding: 11px 16px;
  font-size: 16px;
  background-color: #b798e8;
  color: #0b0b0b;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonAdd:hover {
  background-color: #b3dfe5;
}
