.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.span {
  margin-right: 10px;
  color: rgb(228 223 220);
  font-size: 24px;
}

.button {
  padding: 5px 10px;
  font-size: 18px;
  background-color: #8f6a47;
  color: rgb(228 223 220);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
}

.button:hover {
  background-color: #3f1f08;
}

@media (max-width: 320px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .span {
    font-size: 18px;
  }

  .button {
    font-size: 16px;
    padding: 5px 8px;
  }
}

@media (min-width: 321px) and (max-width: 720px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .span {
    font-size: 20px;
  }

  .button {
    font-size: 18px;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .span {
    font-size: 22px;
  }

  .button {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .span {
    font-size: 24px;
  }

  .button {
    font-size: 22px;
  }
}
